.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    /* border: 2px solid black; */
}

.pokebox {
    margin: 5px 10px;
    text-align: center;
    transition: 200ms ease;
}

.pokebox:hover img {
    transform: scale(10%);
    border: 2px solid red;
}

.pokebox h2 {
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination button {
    background-color: #eee;
    border: 2px solid black;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 200ms;
}

.pagination button:hover {
    background-color: #bbb;
}